div{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

/* div{
    width: 50px;
    width: 50px;
    background-color: aqua;
    დაშორება margin 
    margin: 10px;
} */


.witeli{
    background-color: crimson;
}

.yviteli{
    background-color: yellow;
}

.mwvane{
    background-color: green;
}

